.LandingAbout__section {
  padding: grid(4);
}

@media screen and (min-width: 700px) {
  .LandingAbout__section {
    display: flex;
  }

  .LandingAbout__section:nth-child(even) .LandingAbout__imageContainer {
    order: 10;
  }

  .LandingAbout__imageContainer,
  .LandingAbout__text {
    padding: grid(5);
    flex:1;
  }
}

.LandingAbout__image {
  width: 100%;
}

.LandingAbout__text {
  flex: 1;
}