.LandingUpdateFeed__postContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: grid(1) grid(3) grid(3) grid(3);
}

.LandingUpdateFeed__title {
  padding-left: grid(4);
}

.LandingUpdateFeed__item {
  padding: grid(1);
  flex-basis: 25%;
}

@media screen and (max-width: 1200px) {
  .LandingUpdateFeed__item {
    flex-basis: 33.33%;
  }
}

@media screen and (max-width: 900px) {
  .LandingUpdateFeed__item {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 660px) {
  .LandingUpdateFeed__item {
    flex-basis: 100%;
  }
}
