.LandingIntroduction {
  padding: grid(4);
  text-align: center;
}

.LandingIntroduction__titleContainer {
  text-align: center;
  margin-bottom: grid(4);
}

.LandingIntroduction__titleImage {
  height: grid(4);
}

.LandingIntroduction__tagLine {
  Text__headerScale(0);
  font-family: $Text__monospacedFont;
  color: $Color__mediumGrayText;
}

.LandingIntroduction__link {
  text-decoration: none;
  color: $Color__brightText;
}

.LandingIntroduction__link:after {
    content:' ➝';
}

.LandingIntroduction__link:hover {
  text-decoration: underline;
}

.LandingIntroduction__social {
  margin: grid(3) 0;
}

.LandingIntroduction__socialText {
  font-size: 1em;
  color: $Color__mediumGrayText;
  margin-bottom: grid(1.5);
}

.LandingIntroduction__socialIconRow {
  text-align: center;
}

.LandingIntroduction__socialLinkIconImg {
  height: grid(4);
  width: grid(4);
  margin: 0 grid(3);
  opacity: 0.9;
  transition: opacity 0.2s;
}

.LandingIntroduction__socialLinkIconImg:hover {
  opacity: 1;
}