.LandingFeature {
  padding: grid(4);
}

.LandingFeature__subtitle {
  font-family: $Text__primaryFont;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  Text__headerScale(0);
  color: $Color__medium;
}

.LandingFeature__hero {
  // Placeholder
  height: 400px;
  background-color: black;
  color: white;
  padding: 30px;
}