.LandingIntroduction {
  padding: grid(4);
}

.LandingIntroduction__titleContainer {
  text-align: center;
}

.LandingIntroduction__titleImage {
  height: grid(4);
}

.LandingIntroduction__tagLine {
  font-family: $Text__monospacedFont;
  color: $Color__mediumText;
}

.LandingIntroduction__link {
  text-decoration: none;
  color: $Color__brightText;
}

.LandingIntroduction__link:after {
    content:' ➝';
}

.LandingIntroduction__link:hover {
  text-decoration: underline;
}
