.LandingUpdateFeed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: grid(2);
}

.LandingUpdateFeed__item {
  padding: grid(2);
  flex: 1 1 auto;
  width: grid(40);
}
