.LandingUpdateFeed {
    padding: grid(3);
}

.LandingUpdateFeed__postContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.LandingUpdateFeed__item {
  padding: grid(1);
  flex: 1 1 auto;
  width: grid(40);
}
