.LandingAbout__section {
  padding: grid(4);
}

@media screen and (min-width: 700px) {
  .LandingAbout__section {
    display: flex;
  }

  .LandingAbout__section:nth-child(even) .LandingAbout__imageContainer {
    order: 10;
  }

  .LandingAbout__imageContainer,
  .LandingAbout__text {
    padding: grid(5);
    flex:1;
  }
}

.LandingAbout__image {
  width: 100%;
}

.LandingAbout__text {
  flex: 1;
}

.LandingAbout__headline {
  Text__headerScale(3);
  margin-top: grid(2);
  margin-bottom: grid(4);
  font-family: $Text__monospacedFont;
  font-weight: 800;
  color: #792359;
  line-height: 1.4em;
}

@media screen and (max-width: 900px) {
  .LandingAbout__headline {
    Text__headerScale(2);
  }
}