@require './WorkshopsIndexAbout';
@require './WorkshopsIndexFeature';
@require './WorkshopsIndexGetInvolved';
@require './WorkshopsIndexSchedule';
@require './WorkshopsIndexUpcoming';
@require './WorkshopsIndexArchive';
