.WorkshopsIndexSchedule {
  padding: grid(4);
}
  
.WorkshopsIndexSchedule__feature {
  flex: 1.5;
}

.WorkshopsIndexSchedule__upcoming {
  flex: 1;
  padding: grid(4) 0;
}

@media screen and (min-width: 900px) {
  .WorkshopsIndexSchedule {
    display: flex;
    align-items: top;
  }
  .WorkshopsIndexSchedule__upcoming {
    padding: grid(4) 0 0 1em;
  }
}
