$Color__light = #F2F2F2;
$Color__medium = #878787;
$Color__dark = #333;
$Color__bright1 = #C70F65;
$Color__bright2 = #430CA6;

$Color__lightBackground = $Color__light;
$Color__fadedSubtitle = #C7C7C7;
$Color__lightText = $Color__light;
$Color__mediumText = $Color__medium;
$Color__darkText = $Color__dark;
$Color__brightText = $Color__bright1;

body {
  color: $Color__text;
}
