$Color__light = #F2F2F2;
$Color__mediumGray = #878787;
$Color__dark = #333;
$Color__bright1 = #C70F65;
$Color__bright2 = #430CA6;
$Color__facebook = #4469b0;
$Color__youtube = #E22F35;
$Color__github = #1E1E1E;

$Color__lightBackground = $Color__light;
$Color__fadedSubtitle = #C7C7C7;
$Color__lightText = $Color__light;
$Color__mediumGrayText = $Color__mediumGray;
$Color__darkText = $Color__dark;
$Color__brightText = $Color__bright1;
$Color__inlineCodeText = #BF4232;

body {
  color: $Color__text;
}
