.FlashMessage {
  border: 2px solid;
  padding: 1em;
  font-family: $Text__codeFont;
}

.FlashMessage--positive {
  border-color: #87C639;
  background: alpha(#87C639, 0.3);
}

.FlashMessage--minorNegative {
  border-color: #C18E18;
  background: alpha(#C18E18, 0.3);
}

.FlashMessage--negative {
  border-color: #911A0C;
  background: alpha(#911A0C, 0.3);
}
