@require './fonts';

@require '~normalize.css/normalize.css';

@require './color';
@require './layout';
@require './text';
@require './interaction';
@require './brand';
@require './flash';

.Error {
  margin: 20px;
  font-family: 'Space Mono', 'Menlo', 'Courier New', monospaced;
  font-size: 11px;
}
