.BigButton {
  padding: grid(1) grid(4);
  background: $Color__bright1;
  text-decoration: none;
  display: inline-block;
  color: white;
  border-radius: 3px;
  transition: background 0.2s;
  box-shadow: 0px 2px 6px alpha(darken($Color__bright1, 50%), 0.3);
}

.BigButton:hover {
  background: darken($Color__bright1, 20%);
}

.BigButton--back:before {
  content: "←";
  padding-right: 0.5em;
}

.BigButton--back {
  padding-left: grid(2);
}

.BigButton--inline {
  margin-right: 1em;
  margin-bottom: 1em;
}

.BigButton--facebook {
  background: $Color__facebook;
  box-shadow: 0px 2px 6px alpha(darken($Color__facebook, 50%), 0.3);
}
.BigButton--facebook:hover {
  background: darken($Color__facebook, 20%);
}

.BigButton--youtube {
  background: $Color__youtube;
  box-shadow: 0px 2px 6px alpha(darken($Color__youtube, 50%), 0.3);
}
.BigButton--youtube:hover {
  background: darken($Color__youtube, 20%);
}

.BigButton--github {
  background: $Color__github;
  box-shadow: 0px 2px 6px alpha(darken($Color__github, 50%), 0.3);
}
.BigButton--github:hover {
  background: darken($Color__github, 20%);
}

.BigButton--license{
  background: $Color__bright2;
}

.BigButton--license:hover{
  background: darken($Color__bright2, 20%);
}
