.Interaction__bigButton {
  padding: grid(1) grid(4);
  background: $Color__bright1;
  text-decoration: none;
  display: inline-block;
  color: white;
  border-radius: 3px;
  transition: background 0.2s;
}

.Interaction__bigButton:hover {
  background: darken($Color__bright1, 20%);
}