$Text__primaryFont = Barlow, 'Helvetica Neue', Arial, sans-serif;
$Text__monospacedDisplayFont = 'Space Mono', 'Menlo', 'Courier New', monospaced;
$Text__codeFont = "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$Text__emphasisFont = $Text__monospacedDisplayFont;

$Text__baseSize = grid(2);

body {
  font-family: $Text__primaryFont;
  font-size: $Text__baseSize;
  line-height: 1.5;

  // This makes really long words automatically break
  overflow-wrap: break-word;
  word-wrap: break-word;
}

Text__headerScale($scale) {
  font-size: $Text__baseSize * (1.3 ** $scale);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: ($Text__baseSize / 2);
  font-weight: 500;
}

h1 {
  Text__headerScale(3);
}

h2 {
  Text__headerScale(2);
}

h3 {
  Text__headerScale(1);
}

h4 {
  Text__headerScale(0);
}

h5 {
  Text__headerScale(-1);
}

h6 {
  Text__headerScale(-2);
}

p, ol, ul {
  margin-top: 0;
  margin-bottom: $Text__baseSize;
}

b, strong {
  font-weight: 500;
}

:not(pre) > code {
  font-family: $Text__codeFont;
  font-size: 0.9em;
  background: alpha(white, 0.3);
  color: $Color__inlineCodeText;
  display: inline-block;
  padding: 0 grid(0.5);
  border: 1px solid alpha(gray, 0.2);
  border-radius: $Layout__normalBorderRadius;
}

pre {
  max-width: 100%;
  overflow: scroll;
}

pre > code {
  font-family: $Text__codeFont;
  font-size: 0.9em;
  background: alpha(white, 0.3);
  color: $Color__inlineCodeText;
  display: inline-block;
  padding: grid(2);
  border: 1px solid alpha(gray, 0.2);
  border-radius: $Layout__normalBorderRadius;
}

.Text--sectionHeading {
  font-family: $Text__primaryFont;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 500;
  Text__headerScale(0);
  color: $Color__mediumGrayText;
}

.Text--headline {
  Text__headerScale(3);
  margin-top: grid(3);
  margin-bottom: grid(4);
  font-family: $Text__monospacedDisplayFont;
  font-weight: 800;
  color: #792359;
  line-height: 1.4em;
}

@media screen and (max-width: 900px) {
  .Text--headline {
    Text__headerScale(2);
  }
}

/**
 * Text that is not visibly rendered but is read by screen readers and crawlers
 */
.Text--screenReader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
