.ContentCard {
  background: white;
  padding: grid(4);
  width: 100%;
  border-radius: $Layout__normalBorderRadius;
  box-shadow: 0px 2px 6px alpha(darken(white, 50%), 0.3);
}

.ContentCard--fill {
  height: 100%;
}