.EventFeature {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  cursor: pointer;
  
  transition-property: opacity;
  transition-duration: 0.2s;
  color: #fff;

  &:hover {
    opacity: 0.8;
  }
}

.EventFeature--text-dark {
  color: $Color__dark;
}

.EventFeature--text-light {
  color: $Color__light;
}

.EventFeature__date {
  position: absolute;
  right: grid(1);
  bottom: grid(1);
  text-align: right;
  display: inline-block;

  font-family: $Text__primaryFont;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 500;
  Text__headerScale(0);
  opacity: 0.8;
  background-color:#000000BB;
  padding-left:0.4em;
  padding-right:0.4em;
  border-radius:0.2em;
}

.EventFeature__date--highlight {
  padding: grid(0.3) grid(1);
  border-radius: grid(0.5);
  border: 0.2em solid #FEBC2B;
}