.EventsPortal__divider {
  height: 2px;
  width: 100%;
  background-color: black;
}

.EventsPortal__mainContainer {
  margin-left: 10px;  
}

.AddEventPage__mainContainer {
  margin-left: 10px; 
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; 
}

.AddEventPage__inputLabel {
  margin: 0 auto;
}

.AddEventPage__formInput {
  margin: 0 auto;  
}

.AddEventPage__button {
  margin: 0 auto;  
}

.DeleteEventPage__mainContainer {
  margin-left: 10px; 
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; 
}

.DeleteEventPage__item {
  margin: 0 auto;  
}

#tagInputContainer {
  display: flex;
  flex-direction: column;  
}
