.ImageHero {
  width: 100%;
  height: 100%;
  padding: grid(6);
}

.ImageHero__image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
