@import 'colours'
@import 'fonts'

// Constants
$normalBorderRadius = 0.3em;
$smallBorderRadius = 0.1em;

body {
  background: $lightBackground;
  font-family: sans-serif;
}

.mono {
  font-family: 'Space Mono', monospaced;
}

.feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.post {
  background: $bright1;
  padding: 1em;
  border-radius: $normalBorderRadius;
  margin: 0.4em;
  flex: 30%;
  height: 10em;
  color: $lightText;
}

.post_type {
  display: inline-block;
  background: $lightBackground;
  padding: 0.3em;
  color: $bright1;
  border-radius: $smallBorderRadius;
}