.PostCard {
  background: $Color__bright2;
  background-size: cover;
  border-radius: $Layout__normalBorderRadius;
  min-height: grid(50);
  color: $Color__lightText;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.PostCard__photoBackground {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: 1;
  transition: opacity 0.2s;
}

.PostCard:hover > .PostCard__photoBackground {
  opacity: 0.2;
}

.PostCard__content {
  z-index: 2;
  padding: grid(3.5);
}

.PostCard__categoryLabel {
  display: inline-block;
  Text__headerScale(-1);
  text-transform: uppercase;
  font-family: $Text__primaryFont;
  letter-spacing: 0.15em;
  margin-bottom: grid(3);
  color: alpha($Color__light, 0.7);
}

.PostCard__title {
  font-family: $Text__emphasisFont;
  text-transform: uppercase;
  Text__headerScale(1);
  font-weight: 900;
  margin-bottom: grid(2);
}

.PostCard__footer {
  margin-top: 16px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
}

.PostCard__bottomAction {
  text-align: right;
  padding: grid(3) grid(3.5);
  transition: padding 0.2s;
}

.PostCard__bottomAction:after {
  display: inline-block;
  content: '➝';
  margin-left: grid(1);
  transition: margin-left 0.2s;
}

.PostCard:hover {
  .PostCard__bottomAction {
    padding: grid(3) grid(3);
  }
  .PostCard__bottomAction:after {
    margin-left: grid(1.5);
  }
}