.PostCard {
  background: $Color__bright1;
  padding: 1em;
  border-radius: $Layout__normalBorderRadius;
  margin: 0.4em;
  flex: 30%;
  height: 10em;
  color: $Color__lightText;
}

.PostCard__label {
  display: inline-block;
  background: $Color__lightBackground;
  padding: 0.3em;
  color: $Color__bright2;
  border-radius: $Layout__smallBorderRadius;
}
