.PostCard {
  background: $Color__bright1;
  padding: grid(2);
  border-radius: $Layout__normalBorderRadius;
  min-height: grid(50);
  color: $Color__lightText;
}

.PostCard__label {
  display: inline-block;
  background: $Color__lightBackground;
  padding: grid(1);
  line-height: 1;
  color: $Color__bright2;
  border-radius: $Layout__smallBorderRadius;
}

.PostCard__title {
  font-family: $Text__emphasisFont;
}
