.ServerError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ServerError__title {
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
}