.GameGigTopBanner {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 64px;
}

.GameGigTopBanner__left {
  float: left;
}

.GameGigTopBanner__center {
  text-align: center;
}

.GameGigTopBanner__right {
  float: right;
}

.CountDownTimer__pre {
  text-align: center;
  width: 100%;
  font-size: 50px;
}

.CountDownTimer {
  text-align: center;
  width: 100%;
  font-size: 100px;
}

.GameGigCardsContainer {

}

.GameGigCard {
  // text-align: center;
  width: 100%;
  padding: 20px;
  color: #fff;
  background: #000;
  border: 3px solid #fff;
  border-radius: 10px;
}

.GameGigCard__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

.GameGigNavBar {
  left: 0;
  width: 100%;
  z-index: 999;
  bottom: 0px;
  position: fixed;
  background-color: #000000;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.GameGigNavBar__item {
  font-size: 25px;
  padding: 10px;
}