.GameGigTopBanner {
  background-color: #e65100;
  color: #fff;
  width: 100%;
  height: 64px;
}

.GameGigTopBanner_Left {
  float: left;
}

.GameGigTopBanner_Center {
  text-align: center;
}

.GameGigTopBanner_Right {
  float: right;
}

.GameGigCardsContainer {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  cursor: pointer;

  transition-property: opacity;
  transition-duration: 0.2s;
  //color: #fff;
}

.GameGigCard {

}

.GameGigCard_Title {

}
