.WorkshopDescription {
  padding: grid(4);
  max-width: grid(120);
  margin: 0 auto;

  // As the content is generated with Markdown, we cannot add classes
  // to elements, so we must use a nested selector
  img {
    max-width: 100%;
  }
}

.WorkshopDescription__detail {
  padding: 0.7em;
  box-sizing: border-box;
}